@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-main: #553555;
    --background-pannel-d: #332333;
    --background-pannel-dl: #c083a2;
    --background-pannel: #ebb3cf;
    --background-pannel-l: #faeaf8;
    --text-main: #271e27;
    --text-main-m: #3b2c3b;
    --text-main-ml: #6e506e;
    --text-main-mll: #966e96;
    --text-main-l: #f5cff5;
    --text-main-ld: #cea0ce;
}

html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    // font-family: system-ui, sans-serif;
    font-family: 'Roboto';
}

.hidden {
    display: none !important;
}

.no-js-warning-screen {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: var(--background-main);
    display: flex;
    justify-content: center;
    align-items: center;

    > span {
        max-width: 500px;
        width: 90%;

        height: fit-content;
        box-sizing: border-box;
        padding: 30px;
        background: var(--background-pannel);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: start;
        color: var(--text-main);

        .icon {
            font-size: 40px;
            width: 100%;
            text-align: left;
        }

        .text {
            font-size: 20px;
        }
    }
}

.source-screen {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: var(--background-main);

    display: flex;
    justify-content: center;
    align-items: center;

    font: 'Roboto';

    .content {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .custom {
            height: fit-content;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .title {
                font-size: 32px;
                font-weight: 900;
                width: 100%;
                text-align: right;
                color: var(--background-pannel);
            }

            .input {
                height: fit-content;
                min-height: 0;
                box-sizing: border-box;
                display: flex;

                .input-padding {
                    flex: 1;
                    box-sizing: border-box;
                    padding: 10px;
                    border-radius: 10px 0px 0px 10px;
                    background: var(--background-pannel-l);
                    
                    input {
                        border: 0px;
                        width: 100%;
                        background: transparent;
                        font-size: 20px;
                        font-weight: 700;
                        outline: none;
                        color: var(--text-main-m);
                        box-sizing: border-box;
                        &::placeholder {
                            color: var(--text-main-ld);
                        }
                    }
                }

                .label {
                    width: fit-content;
                    background: var(--background-pannel);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-sizing: border-box;
                    padding: 10px;
                    font-size: 20px;
                    font-weight: 700;
                }

                button {
                    width: fit-content;
                    box-sizing: border-box;
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 0px;
                    background: var(--background-pannel-d);
                    color: var(--text-main-ml);
                    font-size: 20px;
                    font-weight: 700;
                    border-radius: 0px 10px 10px 0px;
                    cursor: pointer;
                    transition: 0.125s;

                    &:hover {
                        color: var(--text-main-mll);
                    }
                }
            }
        }
    
        .official {
            width: fit-content;
            height: fit-content;
            display: flex;
            flex-direction: column;
            gap: 10px;
            
            > .title {
                font-size: 32px;
                font-weight: 900;
                width: 100%;
                text-align: left;
                color: var(--background-pannel);
            }

            .sources {
                width: 600px;
                max-height: 500px;
                overflow-y: auto;
                background: var(--background-pannel-d);
                box-sizing: border-box;
                border-radius: 15px;
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .source {
                    width: 100%;
                    height: fit-content;
                    box-sizing: border-box;
                    // padding: 10px;
                    display: flex;
                    background: var(--background-pannel-l);
                    border-radius: 10px 20px 20px 10px;
                    gap: 10px;
                    align-items: center;

                    img {
                        width: 50px;
                        height: 50px;
                        // box-sizing: border-box;
                        padding-left: 10px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }

                    .info {
                        flex: 1;
                        max-width: 70%;
                        display: flex;
                        flex-direction: column;
                        box-sizing: border-box;
                        padding-top: 10px;
                        padding-bottom: 10px;

                        .title {
                            font-size: 20px;
                            font-weight: 700;
                            
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .author {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    .padding {
                        flex: 1;
                    }

                    button {
                        align-self: stretch;
                        border: 0px;
                        background: var(--background-pannel);
                        font-size: 20px;
                        font-weight: 700;
                        box-sizing: border-box;
                        padding: 10px;
                        border-radius: 0px 10px 10px 0px;
                        cursor: pointer;
                        transition: 0.125s;

                        &:hover {
                            background-color: var(--background-pannel-dl);
                        }
                    }
                }              
            }
        }
    }
}